language: node_js
node_js:
    - "6.9.0"
    - "8.5.0"

install:
    - npm install .
    - curl -sL -o ./kelda https://github.com/kelda/kelda/releases/download/dev/kelda_linux
        && chmod +x ./kelda

before_script:
    - npm install -g gulp-cli

script:
    - gulp lint
    - ./kelda inspect ./etcdExample.js graphviz

notifications:
    slack:
        secure: Ui3FF4UEQGGqLjqkjA1YdSHA182BJlEpUU2shAqfLGj47KeJbtcAznDeKT3jxkML5rVXb8UloXoIwYB39laHJ7MbZxjFSLR6lculYF+v5GXPUUiYM78BbwU+itFfQlOZttUFqG9IKxB10sk+0ywmNhcJwWzafMfX8AUjIzpELCYPeJRQuJiW5wq9B70zAh+z0rpNnfQDoEaGn1iRZfJ7zMEAda7OcKrt2O5F9d/JCKiQmfKxAutxc/ygPZskqJHw9ZXElIsDiE0M4kJn9UorT9Xotw/u4hjTcTUFwtVPtSEBWL9iKS45G/EE8qvgb/2lxE/2BgTfOFvxp4pr/lU7eYup91XOxSU5cNCDWQTjic76nkQ5e7VPJbhZq7SZj59m2CMtrzmKcTy4Q4yjhLRESkLjQzvEuTpDoiA1ixQebw/uwAGd47xrLlA0vbYk1PtVT8xSKjY2xLffBaFum5biCh8h220UlKrEBXl0EB7Uz5YXgzt7xmQCPP+YoD+bnuQX4BMYLdABOxShMUaGrgO+SQ05fmFfhdtW7BrusvQ3NbXhZbcug6eiRMg2Aowp+uTiPzjdJC9JABNfpZTeTNqEepJsF1aPg7MDW4nf6/HnjuEgSazouoVpILWS45D7D77SrKmgV3IhPVe29AgAZoTNQ6x2Rc58u43XoNBTVmBPiyk=
